<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="styleshet" href="menu.component.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <header>
      <h2>Bitacora de casos</h2>
    </header>
    <div class="registros">
      <img id="empleados" src="./assets/Icon/registro-clientes.jpg" alt="registro de empleados" title="Empleados" (click)="clickEmpleados()">
      <img id="clientes" src="./assets/Icon/registro-usuarios.jpg" alt="registro de empleados" title="Clientes"  (click)="clickClientes()">
      <img id="casos" src="./assets/Icon/registro-casos.jpg" alt="registro de empleados" title="Casos" (click)="clickCasos()">
    </div>
      <!--<input type="button" value="Empleados" (click)="clickEmpleados()" />
      <input type="button" value="Clientes" (click)="clickClientes()" />
      <input type="button" value="Casos" (click)="clickCasos()" />-->
    <!---- <li class="float">
        <input type="button"
          value="Cerrar sesión"
          (click)="clickCerrarSesion()"
        />-->
  </body>
</html>
