html {
    font-family: 'Roboto Slab', serif;
  }

body {
    margin: 0;
    background-color: white;
  }

header {
    background-color: rgb(21, 103, 175);
    color: white;
    padding: 25px 25px;
  }

header h2 {
    font-size: 50px;
    text-align: center;
  }


img {
    width: 50px;
    border-width: 5px;
    border: 10px groove;
    border-color: gray;
    border-radius: 10%;
  }
  
  #casos {
    margin: 150px 70px;
    padding: 10px;
    height: 140px;
    width: 140px;
    background-color: white;
    cursor: pointer;
  }
  
  #empleados {
    margin: 150px 50px;
    padding: 10px;
    height: 140px;
    width: 140px;
    background-color: white;
    cursor: pointer;
  }
  
  #clientes {
    margin: 150px 50px;
    padding: 31px;
    height: 100px;
    width: 100px;
    background-color: white;
    cursor: pointer;
  }
  
  .registros {
    margin-top: -100px;
    margin-left: 300px;
    border: 15px;
    padding: 10px;
   
  
    /*margin-top: 50px; 
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;*/
  }