<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="styleshet" href="menu.component.css" type="text/css">
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li class="active">
        <input type="button" value="Empleados" (click)="clickEmpleados()" />
      </li>
      <li>
        <input type="button" value="Clientes" (click)="clickClientes()" />
      </li>
      <li><input type="button" value="Casos" (click)="clickCasos()" /></li>
      <li class="float">
        <input type="button"
          value="Cerrar sesión"
          (click)="clickCerrarSesion()"
        />
      </li>
    </ul>
  </body>
</html>
