<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <div>
        <form>
            <h3>Registro de clientes</h3>
            <input type="text" id="identificacion" placeholder="Identificación">
            <input type="text" id="tipoidentificacion" placeholder="Tipo Identificación">
            <input type="text" id="nombre" placeholder="Nombre">
            <input type="text" id="direccion" placeholder="Dirección">
            <input type="text" id="ciudad" placeholder="Ciudad">
            <input type="text" id="telefono" placeholder="Teléfono">
            <input type="text" id="correo" placeholder="Correo">
            <input type="textarea" id="observacion" placeholder="Observación">
            <input type="checkbox" id="activo">
            <input type="checkbox" id="retirado">
        </form>
    </div>
</body>
</html>
