<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="clientes.component.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    
    <title>Clientes</title>
</head>
<body>
    <div class="form">
        <form action="/enviar-respuesta">
            <h3 class="title">Registro de clientes</h3>
            <input type="text" id="identificacion" placeholder="Identificación">
            <input type="text" id="tipoidentificacion" placeholder="Tipo Identificación">
            <input type="text" id="nombre" placeholder="Nombre">
            <input type="text" id="direccion" placeholder="Dirección">
            <input type="text" id="ciudad" placeholder="Ciudad">
            <input type="text" id="telefono" placeholder="Teléfono">
            <input type="text" id="correo" placeholder="Correo">
            <!--<input type="textarea" id="observacion" placeholder="Observación">-->
            <textarea name="observacion" id="observacion" placeholder="Observación"></textarea>
            <p class="active"> Activo <input type="radio" name="cheked" value="activo" checked></p>
            <p class="inactive"> Retirado <input type="radio" name="cheked" value="retirado"></p>
            <input type="submit" value="Guardar">
            <input type="submit" value="Cancelar" (click)="clickEvent()">
        </form>
    </div>
</body>
</html>
