<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="empleados.component.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <title>Empleados</title>
  </head>
  <body>
    <div class="form">
      <form>
        <h3>Registro Empleados</h3>
        <input type="text" id="identificacion" placeholder="Identificación"> 
       <input type="text" id="tipoIdentificacion" placeholder="Tipo Identificación">
       <input type="text" id="primerNombre" placeholder="Nombres">
       <input type="text" id="primerApellido" placeholder="Apellidos">
       <input type="text" id="genero" placeholder="Género">
       <input type="text" id="fechaNacimiento" placeholder="Fecha Nacimiento">
       <input type="text" id="direccion" placeholder="Dirección">
       <input type="text" id="telefono" placeholder="Teléfono">
       <input type="text" id="celular" placeholder="Celular">
       <input type="email" id="correo" placeholder="Correo">
       <input type="submit" value="Guardar">
       <input type="submit" value="Cancelar" (click)="clickEvent()">
      </form>
    </div>
  </body>
</html>
